@CHARSET "UTF-8";

#t {
	border: 1px solid black;
	border-spacing: 0;
}

#t tr td {
	width: 10px;
	height: 10px;
	margin: 0;
	padding: 0;
	border-right: 1px solid #d3d3d3;
	border-bottom: 1px solid #d3d3d3;
}

.alive {
	background-color: black;
}

#cwrap {
	display: inline-block;
}

form {
	padding: 5px;
	border: 1px solid black;
	margin-bottom: 10px;
}

#neigh {
	height: 150px;
}

#asjson {
	width: 330px;
	height: 100px;
}

#interval {
	width: 50px;
}

#counter {
	margin-left: 10px;
	margin-right: 10px;
}

input:invalid {
	border: 1px solid red;
}